[Unit]
Description=Cloudflare DNS Updater
Documentation=https://github.com/edenreich/cloudflare-dns-updater
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/systemd/system/cloudflare.service.env
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/bin/cloudflare update --dns [DNS_LIST..] --intervals 5